.footer {
  padding: 60px 0 40px;
  background: #404040;
  position: relative;

  &:before {
    content: '/';
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: $red;
    height: 6px;
    background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0) 49.9%, #171554 49.9%, #171554 60%, rgba(0, 0, 0, 0) 60%), linear-gradient(-45deg, #171554 10%, rgba(0, 0, 0, 0) 10%);
    background-size: 0.5em 0.5em;
  }

  &-list {
    @include inline-space-reset;
    @extend %listreset;
    margin: 0 -30px;

    .list-col,
    .list-col-lg {
      @include inline-space;
      display: inline-block;
      vertical-align: top;
      padding: 0 30px 30px;

      &-content {
        list-style: none;
        @extend %listreset;

        li {
          font-size: 14px;

          &:first-child {
            padding-bottom: 30px;
          }

          &:not(:last-child) {
            padding-bottom: 20px;
          }

        }

      }

      .form {
        font-size: 14px;
        margin-bottom: 30px;

        input {
          text-transform: none;
          padding: 0 170px 0 20px;
          height: 40px;
        }

        .btn-secondary {
          min-width: 150px;
          padding: 10px;
          font-size: 14px;
          font-weight: 400;
        }

      }

      h3 {
        text-transform: uppercase;
        font-weight: 700;
      }

    }

    .list-col-lg {
      width: 40%;
    }

    .list-col {
      width: 20%;
    }

  }

}

@include media('<tablet') {

  .footer {
    padding: 40px 0;

    &-list {
      margin: 0 -10px;

      .list-col,
      .list-col-lg {
        padding: 0 10px 30px;

        .form {

          input {
            padding: 0 115px 0 15px;
          }

          .btn-secondary {
            min-width: 100px;
          }

        }

      }

    }

  }

}

@include media('<phone') {

  .footer {
    padding: 40px 0;

    &-list {
      margin: 0 -15px;
      text-align: center;

      .list-col,
      .list-col-lg {
        width: 100%;
      }

    }

  }

}