.head-block {
  max-width: 830px;
  text-align: center;
  margin: 0 auto 80px;
  font-size: 16px;
  color: $medium-gray;

  h2 {
    text-transform: uppercase;
    margin: 0 0 30px;
  }

}

@include media('<tablet') {

  .head-block {
    margin: 0 auto 50px;

    h2 {
      font-size: 24px;
      margin: 0 0 15px;
    }

  }

}

@include media('<xs-phone') {

  .head-block {
    margin: 0 auto 50px;
    font-size: 14px;

    h2 {
      font-size: 18px;
      margin: 0 0 15px;
    }

  }

}