.items-section {
  padding: 100px 0 90px;

  .head-block {
    margin: 0 auto 85px;
  }

  .catalog-item {

    .item-ind {
      padding: 13px;
    }

  }

  .section-bottom {

    .btn-primary {
      min-width: 230px;
    }

  }

}

@include media('<tablet') {

  .items-section {
    padding: 60px 0 50px;

    .catalog-item {

      .item-ind {
        padding: 10px;
      }
  
    }

    .head-block {
      margin: 0 auto 60px;
    }

  }

}

@include media('<phone') {

  .items-section {
    padding: 40px 0 40px;

    .head-block {
      margin: 0 auto 40px;
    }

  }

}