.nav {
  float: right;

  &-opener {
    display: none;
    position: relative;
    height: 20px;
    width: 25px;

    &:hover, &:focus {
      color: $white;
    }

    &:after,
    &:before {
      content: '';
      position: absolute;
      width: 25px;
      height: 2px;
      background: $white;
      @include animate(transform opacity visibility);
    }

    &:after {
      bottom: 0;
    }

    &:before {
      top: 0;
    }

    span {
      position: absolute;
      right: 100%;
      padding-right: 15px;
      @include animate(opacity visibility);

      &:after {
        content: '';
        position: absolute;
        left: 100%;
        top: 49%;
        transform: translateY(-50%);
        height: 2px;
        width: 25px;
        background: $white;
        @include animate(transform);
      }

    }

    .nav-active & {

      &:after,
      &:before {
        content: '';
        transform: rotate(-45deg);
        top: 50%;
        @include animate(transform);
      }

      &:before {
        transform: rotate(45deg);
      }

      span {
        opacity: 0;
        visibility: hidden;
        @include animate(opacity visibility);

        &:after {
          opacity: 0;
          visibility: hidden;
        }

      }

    }

  }

  &-drop {
    @include inline-space-reset;

    ul {
      @include inline-space-reset;
      display: inline-block;
      @extend %listreset;

      li {
        display: inline-block;
        @include inline-space(16px);
        color: $white;
        text-transform: uppercase;
        vertical-align: middle;
        font-family: $second-font-family;

        &:not(:last-child) {
          padding-right: 50px;
        }

        a {
          font-weight: 700;
          display: block;
        }

      }

    }

  }

  .btn-primary {
    min-width: 145px;
    padding: 12px 10px;
    color: $light-gray;
    border-color: $light-gray;

    &:hover {
      border-color: $red;
    }

  }

}

@include media('<tablet') {

  .nav {
    padding: 10px 0;

    &-opener {
      display: block;

      .nav-active & {
        position: fixed;
        z-index: 2;
        right: 15px;
      }

    }

    &-drop {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: $red;
      transform: translateX(-100%);
      opacity: 0;
      visibility: hidden;
      @include animate(transform opacity visibility);
      overflow: auto;
      text-align: center;
      padding: 100px 0;

      &:before {
        content: '';
        min-height: 100%;
        display: inline-block;
        width: 1px;
        vertical-align: middle;
        margin: 0 0 0 -5px;
        overflow: hidden;
      }

      ul {
        text-align: center;
        vertical-align: middle;

        li {
          display: block;
          font-size: 28px;

          &:not(:last-child) {
            padding: 0 0 30px;
          }

        }

      }

      .btn-primary {
        display: block;
        margin: 0 auto;
        font-size: 24px;
        min-width: 100%;
      }

      .nav-active & {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }

      .resize-active & {
        transition: none;
      }

    }

  }

}