.score-items {
  @include inline-space-reset;
  padding: 30px 0;
  box-shadow: 0px 0px 30px rgba(52, 52, 52, 0.15);
  background: $white;

  li {
    @include inline-space(18px);
    display: inline-block;
    width: (100%/4);
    text-align: center;
    padding: 10px 15px;
    color: $medium-gray;
    vertical-align: top;

    &:not(:last-child) {
      border-right: 1px solid rgba(113, 113, 113, 0.6);
    }

    b {
      display: block;
      margin: 0 0 15px;
      font-size: 30px;
      color: #262626;
    }

  }

}

@include media('<tablet') {

  .score-items {
    padding: 20px 0;
  }

}

@include media('<phone') {

  .score-items {

    li {
      width: 50%;

      &:nth-child(2n) {
        border: none;
      }

    }

  }

}

@include media('<xs-phone') {

  .score-items {

    li {
      font-size: 16px;

      b {
        font-size: 24px;
      }

    }

  }

}