.score-section {
  z-index: 2;
  margin-top: -70px;
  position: relative;
}

@include media('<tablet') {

  .score-section {
    margin-top: -65px;
  }

}

@include media('<phone') {

  .score-section {
    margin-top: 0;
  }

}