.soc-icons {
  @include inline-space-reset;
  @extend %listreset;
  margin: 0 0 30px;

  li {
    @include inline-space(42px);
    display: inline-block;
    vertical-align: top;

    &:not(:last-child) {
      padding: 0 20px 0 0;
    }

    a {
      display: block;
      color: $medium-gray;
      background: $white;
      border-radius: 50%;

      i {
        display: block;
      }

      &:hover {
        color: $red;
      }

    }

  }

}

@include media('<phone') {

  .soc-icons {
    margin: 0 0 15px;
  }

}