.btn-primary, .btn-secondary {
  color: $btn-color;
  border-radius: $btn-border-radius;
  padding: $btn-padding;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  text-transform: uppercase;
  background-color: $btn-background-color;
  border: 1px solid transparent;
  outline: none;
  @include animate(color background border);
  cursor: pointer;
  min-width: $btn-min-width;
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;

  &:hover {
    background: $red;
    color: $white;
  }

}

.btn-secondary {
  background: $red;
  color: $white;

  &:hover {
    background: $white;
    color: $light-dark;
  }
  
}
